@page "/"

@code{
	string message;
	string message2;
	string messageButton;

	private void ChangeText()
	{
		message = messageButton;
	}
}

<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />

<div>
	<input class="form-control" type="text" @bind-value="@messageButton"/>
	<button type="button" class="btn btn-primary" @onclick="ChangeText">Click here</button>
	<p>@message</p>
</div>

<div>
	<input class="form-control" type="text" @bind="@message2" @bind:event="oninput"/>	<!-- Parecido a la funcion computada de Vue-->
	<p>@message2</p>
</div>


