@page "/"


<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />

<!--
<Form001 Message="Hello World!"></Form001>
<Form001 Message="Oh **** we here go again"></Form001>
<Form001 Message="xdxdxd"></Form001>
-->

<!--
<CreateProductComponent></CreateProductComponent>
<ListProductsComponent></ListProductsComponent>
<CreateInOutComponent></CreateInOutComponent>
-->
