@page "/product/list"

<h1> Lista de productos</h1>

<div class="row col-1 mb-3">
	<a href="product/create" type="button" class="btn btn-primary">Crear producto</a>
</div>

<ListProductsComponent></ListProductsComponent>