<h3>Form002</h3>

@code {

}

<div class="col-auto">
    <input type="text" class="form-control">
 </div>

 <!-- editform requiere crear un modelo -->
 <!--
 <EditForm Model = "">
      <InputText></InputText>
 </EditForm>
 -->