@using Entities
@using Business

@inject NavigationManager NavManager
@code {
	ProductEntity oProduct = new ProductEntity();
	List<CategoryEntity> categories = new List<CategoryEntity>();

	protected override async Task OnInitializedAsync()
	{
		categories = B_Category.CategoryList();
	}

	private void SaveProduct()
	{
		B_Product.CreateProduct(oProduct);
		NavManager.NavigateTo("product/list");	//Nos regresa a la pagina a la hora de crear
	}

}

<div>
	<h1> Crear producto</h1>
	<EditForm Model="oProduct" class="row col-4">

		<div class="col-12">
			<label for="InputPID" class="col-form-label">Referencia:</label>
			<InputText @bind-Value="oProduct.ProductId" id="InputPID" class="form-control" required minlength="3" maxlength="15"></InputText>
	    </div>

		<div class="col-12">
			<label for="InputPN" class="col-form-label">Nombre:</label>
			<InputText @bind-Value="oProduct.ProductName" id="InputPN" class="form-control" required minlength="3" maxlength="100"></InputText>
	    </div>

		<div class="col-12">
			<label for="InputPD" class="col-form-label">Descripcion:</label>
			<InputTextArea @bind-Value="oProduct.PuoductDescription" id="InputPD" class="form-control" required minlength="3" maxlength="600"></InputTextArea>
	    </div>

		<div class="col-12">
			<label for="InputCat" class="col-form-label">Categoria:</label>
			<InputSelect @bind-Value="oProduct.CategoryId" class="form-select" id="InputCat" required>
				<option selected>Categorias:</option>
				@foreach(var category in categories)
				{
					<option value="@category.CategoryId">@category.CategoryName</option>
				}
			</InputSelect>
		</div>

		<div class="col-12 mt-3">
			<button type="button" class="btn btn-success" @onclick="SaveProduct">Agregar producto</button>
		</div>
	</EditForm>
</div>