@using Entities
@using Business

@code {
	List<ProductEntity> products = new List<ProductEntity>();

	protected override async Task OnInitializedAsync()
	{
		products = B_Product.ProductList();
	}
}
<table class="table table-hover">
	<thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Referencia</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
        </tr>
    </thead>

    <tbody>
        @{
            int i = 1;
            foreach(var product in products){
                <tr>
                    <th scope="row">@i</th>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.CategoryId</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>