@using Entities
@using Business
@inject NavigationManager NavManager
@code {
	CategoryEntity oCategory = new CategoryEntity();
	List<CategoryEntity> categories = new List<CategoryEntity>();

	protected override async Task OnInitializedAsync()
	{
		categories = B_Category.CategoryList();
	}

	private void SaveCategory()
	{
		B_Category.CreateCategory(oCategory);
		NavManager.NavigateTo("category/list");
    }
}

<div>
	<h1> Crear categoria</h1>
	<EditForm Model="oCategory" class="row col-4">

		<div class="col-12">
			<label for="InputCID" class="col-form-label">Referencia:</label>
			<InputText @bind-Value="oCategory.CategoryId" id="InputCID" class="form-control" required minlength="3" maxlength="50"></InputText>
	    </div>

		<div class="col-12">
			<label for="InputCN" class="col-form-label">Nombre:</label>
			<InputText @bind-Value="oCategory.CategoryName" id="InputCN" class="form-control" required minlength="3" maxlength="100"></InputText>
	    </div>

		<div class="col-12 mt-3">
			<button type="button" class="btn btn-success" @onclick="SaveCategory">Agregar categoria</button>
		</div>
	</EditForm>
</div>